In [1]:

## Import dependencies
import pandas as pd
import numpy as np
import requests 
import matplotlib as plt
import plotly.express as px

In [2]:
# Read in CSV files as Pandas DataFrames.
netflix1_df = pd.read_csv('/Users/linagarcia/Desktop/Analysis Projects/Netflix_Team_1/Resources/netflix_list.csv', low_memory=False)
netflix2_df = pd.read_csv('/Users/linagarcia/Desktop/Analysis Projects/Netflix_Team_1/Resources/netflix_titles.csv', low_memory=False)

In [3]:
netflix1_df

,imdb_id,title,popular_rank,certificate,startYear,endYear,episodes,runtime,type,orign_country,language,plot,summary,rating,numVotes,genres,isAdult,cast,image_url
0,tt4052886,Lucifer,1,15,2016.0,NaN,93.0,42,tvSeries,United States,English,Lucifer Morningstar has decided he's had enoug...,"Lucifer Morningstar, bored from his sulking li...",8.1,250884.0,"Crime,Drama,Fantasy",0,"['Tom Ellis', 'Lauren German', 'Lesley-Ann Bra...",https://m.media-amazon.com/images/M/MV5BNzY1Yj...
1,tt0993840,Army of the Dead,2,18,2021.0,NaN,NaN,148,movie,United States,English,"Following a zombie outbreak in Las Vegas, a gr...","With the abandoned, walled city of Las Vegas o...",5.8,110780.0,"Action,Crime,Horror",0,"['Dave Bautista', 'Ella Purnell', 'Ana de la R...",https://m.media-amazon.com/images/M/MV5BNGY0Nz...
2,tt7255502,The Kominsky Method,3,18,2018.0,2021.0,22.0,30,tvSeries,United States,English,"An aging actor, who long ago enjoyed a brush w...",Michael Douglas plays an actor who made it big...,8.2,28795.0,"Comedy,Drama",0,"['Michael Douglas', 'Sarah Baker', 'Graham Rog...",https://m.media-amazon.com/images/M/MV5BMzA0YT...
3,tt0108778,Friends,4,13+,1994.0,2004.0,235.0,22,tvSeries,United States,English,Follows the personal and professional lives of...,"Ross Geller, Rachel Green, Monica Geller, Joey...",8.9,861843.0,"Comedy,Romance",0,"['Jennifer Aniston', 'Courteney Cox', 'Lisa Ku...",https://m.media-amazon.com/images/M/MV5BNDVkYj...
4,tt9251798,Ragnarok,5,18,2020.0,NaN,12.0,45,tvSeries,Norway,Norwegian,A small Norwegian town experiencing warm winte...,In the small fictional town of Edda coming of ...,7.5,26606.0,"Action,Drama,Fantasy",0,"['David Stakston', 'Jonas Strand Gravli', 'Her...",https://m.media-amazon.com/images/M/MV5BODM3NT...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7003,tt9777386,Merry Happy Whatever,"16,543",13,2019.0,NaN,NaN,28,tvEpisode,United States,English,When his daughter arrives home for the holiday...,When his daughter arrives home for the holiday...,6.1,221.0,Comedy,0,"['Dennis Quaid', 'Bridgit Mendler', 'Brent Mor...",https://m.media-amazon.com/images/M/MV5BOTc0ND...
7004,tt9790434,The Morning Show,"16,569",NaN,2019.0,NaN,NaN,30,tvEpisode,-,-,NaN,-,NaN,NaN,\N,0,"['Bounty Hunters Brothers', 'Bruce Lourie', 'C...",https://m.media-amazon.com/images/G/01/imdb/im...
7005,tt9817600,Losers,"16,599",16,2019.0,NaN,NaN,\N,tvEpisode,-,-,"The life of Michael Bentt, a champion boxer fo...","The life of Michael Bentt, a champion boxer fo...",8.0,221.0,"Documentary,Sport",0,"['Michael Bentt', 'Harold Perrineau', 'Mickey ...",https://m.media-amazon.com/images/M/MV5BOTY3Zj...
7006,tt9842922,Firefly Lane,"16,627",18,2021.0,NaN,NaN,51,tvEpisode,United States,English,Kate experiences the force of nature that is T...,Kate experiences the force of nature that is T...,7.3,380.0,"Drama,Romance",0,"['Katherine Heigl', 'Sarah Chalke', 'Ben Lawso...",https://m.media-amazon.com/images/M/MV5BODM3OW...
7007,tt9865968,Medical Police,"16,648",NaN,2020.0,NaN,NaN,25,tvEpisode,United States,English,NaN,-,6.6,133.0,Comedy,0,"['Erinn Hayes', 'Rob Huebel', 'Edwin Colón', '...",https://m.media-amazon.com/images/M/MV5BZTU5NT...

In [4]:

#Drop unused Columns
netflix1_df_dropped = netflix1_df.drop(columns=['imdb_id','plot','summary','isAdult','image_url','cast','endYear'])
netflix1_df_dropped.head()

,title,popular_rank,certificate,startYear,episodes,runtime,type,orign_country,language,rating,numVotes,genres
0,Lucifer,1,15,2016.0,93.0,42,tvSeries,United States,English,8.1,250884.0,"Crime,Drama,Fantasy"
1,Army of the Dead,2,18,2021.0,NaN,148,movie,United States,English,5.8,110780.0,"Action,Crime,Horror"
2,The Kominsky Method,3,18,2018.0,22.0,30,tvSeries,United States,English,8.2,28795.0,"Comedy,Drama"
3,Friends,4,13+,1994.0,235.0,22,tvSeries,United States,English,8.9,861843.0,"Comedy,Romance"
4,Ragnarok,5,18,2020.0,12.0,45,tvSeries,Norway,Norwegian,7.5,26606.0,"Action,Drama,Fantasy"

In [5]:
#Check for null columns
netflix1_df_dropped.isnull().sum()

title               0
popular_rank        0
certificate      4599
startYear         515
episodes         4704
runtime             2
type                2
orign_country       0
language            0
rating           1008
numVotes         1008
genres              2
dtype: int64

In [6]:
#Count of total number of values in each column
netflix1_df_dropped.count()

title            7008
popular_rank     7008
certificate      2409
startYear        6493
episodes         2304
runtime          7006
type             7006
orign_country    7008
language         7008
rating           6000
numVotes         6000
genres           7006
dtype: int64

In [7]:
#Look at missing data
netflix1_df_dropped[netflix1_df_dropped['runtime'].isnull()]

,title,popular_rank,certificate,startYear,episodes,runtime,type,orign_country,language,rating,numVotes,genres
6624,The War Next-Door,"9,751",NaN,NaN,NaN,NaN,NaN,Mexico,Spanish,NaN,NaN,NaN
6625,Exception,"9,752",NaN,NaN,NaN,NaN,NaN,-,-,NaN,NaN,NaN

In [8]:
#Look at missing data
netflix1_df_dropped[netflix1_df_dropped['genres'].isnull()]

,title,popular_rank,certificate,startYear,episodes,runtime,type,orign_country,language,rating,numVotes,genres
6624,The War Next-Door,"9,751",NaN,NaN,NaN,NaN,NaN,Mexico,Spanish,NaN,NaN,NaN
6625,Exception,"9,752",NaN,NaN,NaN,NaN,NaN,-,-,NaN,NaN,NaN

In [9]:
#Look at missing data
netflix1_df_dropped[netflix1_df_dropped['rating'].isnull()]

,title,popular_rank,certificate,startYear,episodes,runtime,type,orign_country,language,rating,numVotes,genres
152,Don't Look Up,153,NaN,2021.0,NaN,\N,movie,United States,English,NaN,NaN,Comedy
167,Hotel Transylvania: Transformania,168,NaN,2021.0,NaN,\N,movie,United States,English,NaN,NaN,"Adventure,Animation,Comedy"
173,The Sandman,174,NaN,2021.0,11.0,\N,tvSeries,United States,English,NaN,NaN,"Action,Adventure,Drama"
251,Army of the Dead: Lost Vegas,252,NaN,2021.0,1.0,\N,tvSeries,United States,English,NaN,NaN,"Action,Animation,Crime"
289,The Ice Road,290,PG-13,2021.0,NaN,103,movie,United States,English,NaN,NaN,Thriller
...,...,...,...,...,...,...,...,...,...,...,...,...
6975,Ponysitters Club,"16,062",NaN,2018.0,NaN,\N,tvEpisode,Canada,English,NaN,NaN,Family
6979,Maya and the Three,"16,141",NaN,2021.0,NaN,\N,tvEpisode,United States,English,NaN,NaN,"Action,Adventure,Animation"
6984,Cowboy Bebop,"16,217",NaN,2021.0,NaN,\N,tvEpisode,United States,English,NaN,NaN,"Action,Adventure,Crime"
7001,Pieces of Her,"16,513",NaN,2021.0,NaN,\N,tvEpisode,United States,English,NaN,NaN,"Drama,Thriller"
7004,The Morning Show,"16,569",NaN,2019.0,NaN,30,tvEpisode,-,-,NaN,NaN,\N

In [10]:
#Drop rows with missing data
netflix1_df_dropped_data = netflix1_df_dropped.dropna(subset=['rating','genres','runtime','type'])
netflix1_df_dropped_data

,title,popular_rank,certificate,startYear,episodes,runtime,type,orign_country,language,rating,numVotes,genres
0,Lucifer,1,15,2016.0,93.0,42,tvSeries,United States,English,8.1,250884.0,"Crime,Drama,Fantasy"
1,Army of the Dead,2,18,2021.0,NaN,148,movie,United States,English,5.8,110780.0,"Action,Crime,Horror"
2,The Kominsky Method,3,18,2018.0,22.0,30,tvSeries,United States,English,8.2,28795.0,"Comedy,Drama"
3,Friends,4,13+,1994.0,235.0,22,tvSeries,United States,English,8.9,861843.0,"Comedy,Romance"
4,Ragnarok,5,18,2020.0,12.0,45,tvSeries,Norway,Norwegian,7.5,26606.0,"Action,Drama,Fantasy"
...,...,...,...,...,...,...,...,...,...,...,...,...
7002,Ares,"16,535",18,2020.0,NaN,32,tvEpisode,Netherlands,Dutch,6.5,191.0,"Drama,Horror,Mystery"
7003,Merry Happy Whatever,"16,543",13,2019.0,NaN,28,tvEpisode,United States,English,6.1,221.0,Comedy
7005,Losers,"16,599",16,2019.0,NaN,\N,tvEpisode,-,-,8.0,221.0,"Documentary,Sport"
7006,Firefly Lane,"16,627",18,2021.0,NaN,51,tvEpisode,United States,English,7.3,380.0,"Drama,Romance"
7007,Medical Police,"16,648",NaN,2020.0,NaN,25,tvEpisode,United States,English,6.6,133.0,Comedy

In [11]:
netflix1_df_dropped_data.value_counts(['certificate'])

certificate
18             613
16             415
13             255
R              226
A              147
UA             110
7              106
U              104
PG-13           92
16+             74
18+             57
PG              53
13+             21
All             19
15+             18
Not Rated       16
12+             12
15              11
G                7
7+               6
(Banned)         3
12               3
Unrated          2
NC-17            1
dtype: int64

In [12]:
netflix1_df_dropped_data.value_counts(['type'])

type
movie           2517
tvSeries        1880
tvEpisode        639
tvSpecial        366
tvMiniSeries     277
tvMovie          147
short             85
video             83
tvShort            5
videoGame          1
dtype: int64

In [13]:
netflix1_df_dropped_data.value_counts(['language'])

language
English          3400
Spanish           392
Japanese          366
Korean            281
-                 279
                 ...
Min Nan             1
Hausa               1
Ibo                 1
Luxembourgish       1
Zulu                1
Length: 70, dtype: int64

In [14]:
netflix2_df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [15]:
#Drop unused Columns
netflix2_df_dropped = netflix2_df.drop(columns=['description','cast','listed_in','show_id'])
netflix2_df_dropped.head()

,type,title,director,country,date_added,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,"September 25, 2021",2020,PG-13,90 min
1,TV Show,Blood & Water,NaN,South Africa,"September 24, 2021",2021,TV-MA,2 Seasons
2,TV Show,Ganglands,Julien Leclercq,NaN,"September 24, 2021",2021,TV-MA,1 Season
3,TV Show,Jailbirds New Orleans,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season
4,TV Show,Kota Factory,NaN,India,"September 24, 2021",2021,TV-MA,2 Seasons

In [16]:
#Check for null columns
netflix2_df_dropped.isnull().sum()

type               0
title              0
director        2634
country          831
date_added        10
release_year       0
rating             4
duration           3
dtype: int64

In [17]:

netflix2_df_dropped[netflix2_df_dropped['duration'].isnull()]

,type,title,director,country,date_added,release_year,rating,duration
5541,Movie,Louis C.K. 2017,Louis C.K.,United States,"April 4, 2017",2017,74 min,NaN
5794,Movie,Louis C.K.: Hilarious,Louis C.K.,United States,"September 16, 2016",2010,84 min,NaN
5813,Movie,Louis C.K.: Live at the Comedy Store,Louis C.K.,United States,"August 15, 2016",2015,66 min,NaN

In [18]:
netflix2_df_dropped[netflix2_df_dropped['date_added'].isnull()]

,type,title,director,country,date_added,release_year,rating,duration
6066,TV Show,A Young Doctor's Notebook and Other Stories,NaN,United Kingdom,NaN,2013,TV-MA,2 Seasons
6174,TV Show,Anthony Bourdain: Parts Unknown,NaN,United States,NaN,2018,TV-PG,5 Seasons
6795,TV Show,Frasier,NaN,United States,NaN,2003,TV-PG,11 Seasons
6806,TV Show,Friends,NaN,United States,NaN,2003,TV-14,10 Seasons
6901,TV Show,Gunslinger Girl,NaN,Japan,NaN,2008,TV-14,2 Seasons
7196,TV Show,Kikoriki,NaN,NaN,NaN,2010,TV-Y,2 Seasons
7254,TV Show,La Familia P. Luche,NaN,United States,NaN,2012,TV-14,3 Seasons
7406,TV Show,Maron,NaN,United States,NaN,2016,TV-MA,4 Seasons
7847,TV Show,Red vs. Blue,NaN,United States,NaN,2015,NR,13 Seasons
8182,TV Show,The Adventures of Figaro Pho,NaN,Australia,NaN,2015,TV-Y7,2 Seasons

In [34]:
# LG Viewing columns in Netflix2. 
print(netflix2_df_dropped.columns)

Index(['type', 'title', 'director', 'country', 'date_added', 'release_year',
       'rating', 'duration'],
      dtype='object')

In [35]:
# Viewing columns in Netflix1
print(netflix1_df_dropped.columns)

Index(['title', 'popular_rank', 'certificate', 'startYear', 'episodes',
       'runtime', 'type', 'orign_country', 'language', 'rating', 'numVotes',
       'genres'],
      dtype='object')

In [36]:
# Viewing unique values in "Type" column Nextfix1
netflix1_df_dropped.type.unique()

array(['tvSeries', 'tvMiniSeries', 'movie'], dtype=object)

In [37]:
# Viewing unique values in "Type" column Nextfix1
netflix2_df_dropped.type.unique()

array(['Movie', 'TV Show'], dtype=object)

In [23]:
# I think Pandas interprets values that listed as "-" different than "NaN", looks like they're still some null
# values. Should we delete?
netflix1_df_dropped.isna().sum()

title               0
popular_rank        0
certificate      4599
startYear         515
episodes         4704
runtime             2
type                2
orign_country       0
language            0
rating           1008
numVotes         1008
genres              2
dtype: int64

In [24]:
# Deleted NaN's in Netflix1
netflix1_df_dropped = netflix1_df_dropped.dropna()
netflix1_df_dropped.head()

,title,popular_rank,certificate,startYear,episodes,runtime,type,orign_country,language,rating,numVotes,genres
0,Lucifer,1,15,2016.0,93.0,42,tvSeries,United States,English,8.1,250884.0,"Crime,Drama,Fantasy"
2,The Kominsky Method,3,18,2018.0,22.0,30,tvSeries,United States,English,8.2,28795.0,"Comedy,Drama"
3,Friends,4,13+,1994.0,235.0,22,tvSeries,United States,English,8.9,861843.0,"Comedy,Romance"
4,Ragnarok,5,18,2020.0,12.0,45,tvSeries,Norway,Norwegian,7.5,26606.0,"Action,Drama,Fantasy"
5,StartUp,6,18,2016.0,30.0,44,tvSeries,United States,English,8.0,16980.0,"Crime,Thriller"

In [30]:
# Checking that there are no more NaN's
netflix1_df_dropped.isna().sum()

title            0
popular_rank     0
certificate      0
startYear        0
episodes         0
runtime          0
type             0
orign_country    0
language         0
rating           0
numVotes         0
genres           0
dtype: int64

In [31]:
# Viewing NaN's in Netflix2
netflix2_df_dropped.isna().sum()

type               0
title              0
director        2634
country          831
date_added        10
release_year       0
rating             4
duration           3
dtype: int64

In [38]:
# Deleted NaN's in Netflix1
netflix2_df_dropped = netflix2_df_dropped.dropna()
netflix2_df_dropped

,type,title,director,country,date_added,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,"September 25, 2021",2020,PG-13,90 min
7,Movie,Sankofa,Haile Gerima,"United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min
8,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons
9,Movie,The Starling,Theodore Melfi,United States,"September 24, 2021",2021,PG-13,104 min
12,Movie,Je Suis Karl,Christian Schwochow,"Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min
...,...,...,...,...,...,...,...,...
8801,Movie,Zinzana,Majid Al Ansari,"United Arab Emirates, Jordan","March 9, 2016",2015,TV-MA,96 min
8802,Movie,Zodiac,David Fincher,United States,"November 20, 2019",2007,R,158 min
8804,Movie,Zombieland,Ruben Fleischer,United States,"November 1, 2019",2009,R,88 min
8805,Movie,Zoom,Peter Hewitt,United States,"January 11, 2020",2006,PG,88 min
8806,Movie,Zubaan,Mozez Singh,India,"March 2, 2019",2015,TV-14,111 min

In [39]:
# Checking that there are no more NaN's
netflix2_df_dropped.isna().sum()

type            0
title           0
director        0
country         0
date_added      0
release_year    0
rating          0
duration        0
dtype: int64

In [43]:
# Viewing unique values in "Type" column Nextfix2
netflix2_df_dropped.type.unique()

array(['Movie', 'TV Show'], dtype=object)

In [44]:
# Viewing unique values in "Type" column Nextfix1.
# Suggest renaming to align with Movie or TV Show like in Netflix2
netflix1_df_dropped.type.unique()

array(['tvSeries', 'tvMiniSeries', 'movie'], dtype=object)

In [46]:
# Renamed "Type" in N1 to align with Netflix2
netflix1_df_dropped['type'].replace(['tvSeries'],['TV Show'],inplace=True)
netflix1_df_dropped['type'].replace(['tvMiniSeries'],['TV Show'],inplace=True)
netflix1_df_dropped['type'].replace(['movie'],['Movie'],inplace=True)

In [52]:
netflix1_df_dropped.type.unique()

array(['TV Show', 'Movie'], dtype=object)